[submodule "mods/minecraft/redstone-backport"]
	path = games/minecraft/mods/redstone-backport
	url = git@github.com:scottdraper8/redstone-backport.git
[submodule "games/minecraft/mods/FreeTerraForged"]
	path = games/minecraft/mods/FreeTerraForged
	url = git@github.com:scottdraper8/FreeTerraForged.git
[submodule "games/no-mans-sky/mods/search-probes"]
	path = games/no-mans-sky/mods/search-probes
	url = git@github.com:scottdraper8/search-probes.git
