[submodule "mods/minecraft/vegetate"]
	path = games/minecraft/mods/vegetate
	url = git@github.com:scottdraper8/vegetate.git
[submodule "mods/minecraft/redstone-backport"]
	path = games/minecraft/mods/redstone-backport
	url = git@github.com:scottdraper8/redstone-backport.git
